.page {
    max-width: 1280px;
    background-color: #2a2c2f;
    font-family: 'Inter';
    color: white;
    margin: 0 auto;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialised;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;

}

@media screen and (max-width: 1023px) {
    .page {
        max-width: 1023px;

    }
}

@media screen and (max-width: 800px) {
    .page {
        max-width: 800px;
    }
}

@media screen and (max-width: 575px) {
    .page {
        max-width: 320px;
    }

}