.places {
    max-width: 984px;
    margin: 0 148px;
    list-style-type: none;
}

@media screen and (max-width: 1023px) {
    .places {
        max-width: 928px;
        margin: 0 48px;
    }

}

@media screen and (max-width: 800px) {
    .places {
        max-width: 720px;
        margin: 0 24px;
    }
}

@media screen and (max-width: 575px) {
    .places {
        margin: 64px 0 0;
    }
}