.lead__title {
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    max-width: 720px;
    margin: 0 132px;
    text-align: center;
}

@media screen and (max-width: 1023px) {
    .lead__title {
        margin: 0 104px;

    }
}

@media screen and (max-width: 800px) {
    .lead__title {
        margin: 0 24px;
    }
}

@media screen and (max-width: 575px) {
    .lead__title {
        margin: 0 16px;
        font-size: 40px;
        line-height: 44px;
        max-width: 288px;
    }

}