.header__lang-link_ru {
    margin: 18px 18px 6px 0;
    max-width: 30px;
    text-decoration: underline;
}

@media screen and (max-width: 575px) {
    .header__lang-link_ru {
        margin: 14px 18px 8px 0;
        width: 22px;
        height: 20px;
    }
}